<div class="col-sm">
  <div class="card">
    <div class="card-header">
      <%= project.user.email %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= link_to project.title, project, class: "stretched-link" %></h5>
      <p class="card-text"><%= project.preview %></p>
    </div>
  </div>
</div>
