<%= render 'layouts/projects' %>
<div class="container">
  <h1>Projects</h1>
  <% if admin? %>
    <%= button_to 'New Project', new_project_path, method: :get, class: "btn btn-primary" %><br>
  <% end %>
  <% i=0; while i<@projects.count %>
    <%= render partial: "proj_card", locals: {i: i} %>
    <% i+=3 %>
  <% end %>
</div>