@import 'trix/dist/trix.css';

.pretty th .current {
  padding-right: 32px;
  background-repeat: no-repeat;
  background-position: right center;
}
.pretty th .asc {
  background-image: asset-url("baseline_keyboard_arrow_up_white_18dp.png");
}

.pretty th .desc {
  background-image: asset-url("baseline_keyboard_arrow_down_white_18dp.png");
}

.pretty th .filtered {
  background-image: asset-url("baseline_filter_alt_white_18dp.png");
}

th {
  color: white;
}

a {
  color: #AAFF2A;
}

a:hover {
  color: #82C223;
}

body {
  background: #232425;
  color: #fff;
}

.container.post-show {
  background: #333;
  border-style: solid;
  border-width: thin;
  border-color: #AAFF2A;
}

.btn-primary {
  color: white;
  background: #6EA31E;
  border-color: #6EA31E;


}

.btn-primary:hover {
  background: #82C223;
  border-color: #82C223;
  color: white;
}

.navbar {
  background: #000A14 !important;
  border-bottom: #AAFF2A 3px solid;
  opacity: .75;

  .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .nav-item.active {
    border-left: #444 3px solid;
    color: #fff;
    font-weight: bold;

    a{
      color: white !important;
    }
  }

  .navbar-brand.active {
    font-weight: bold;
  }


}

.card {
  .card-header {
    background: #5A5A59;
  }

  .card-body {
    background: #333;

    a {
      text-decoration: none;
    }
  }
}

.card:hover {
  border-color: #AAFF2A;
}

button.trix-button {
  background: #B7B7B7;
}



// .navbar-custom {
//   background-color: red !important;
//  }
