<footer id="footer-page">
  <div class="container">
    <div class="row">
      <div class="col text-left py-4">
        <a class="footer-logo" > <%= image_tag "logo-small.png" %> </a>
      </div>
    </div>
  </div>
</footer>
