<section id="showcase">
  <div class="dark-overlay"
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-inidcators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"> </li>
      <li data-target="#myCarousel" data-slide-to="1"> </li>
      <li data-target="#myCarousel" data-slide-to="2"> </li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-left">
            <h1 class="display-3"> Test </h1>
            <p class="lead">
              Hello world hello there
            </p>
            <a href="#" class="btn btn-danger btn-lg"> Sign In</a>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-left">
            <h1 class="display-3"> Test </h1>
            <p class="lead">
              Hello world hello there
            </p>
            <a href="#" class="btn btn-danger btn-lg"> Sign In</a>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-left">
            <h1 class="display-3"> Test </h1>
            <p class="lead">
              Hello world hello there
            </p>
            <a href="#" class="btn btn-danger btn-lg"> Sign In</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
